section {
  padding: 12px 2% 0;
}
#posts {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: auto;

  .not-found {
    margin-top: 10px;
    text-align: center;
    font-size: 2.6rem;
    text-transform: uppercase;
    opacity: 0.6;
  }

  .actions-row {
    display: flex;
    justify-content: center;
    margin-top: 12px;
  }
}

#view-post {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  flex: 1 1 auto;
  .post-wrapper {
    margin-bottom: 30px;
  }
  .related-post {
    .posts {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      column-gap: 12px;
    }
  }
  @media (min-width: 700px) {
    flex-direction: row;
    align-items: start;
    justify-content: center;
    .post-wrapper {
      width: 500px;
      height: 500px;
    }
    .related-post {
      width: 215px;
      margin-left: 12px;
      display: grid;
    }
  }
}
