section#posts {
  flex: 1 1 auto;
  padding: 16px;
  display: flex;
  flex-direction: column;

  & > div.header {
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 512px) {
      flex-direction: column;
    }
    h3 {
      display: inline-block;
      margin: 0 20px 0 0;
    }
  }
  & > div.post-container {
    flex-grow: 1;
    overflow: auto;
  }

  .not-found {
    margin-top: 10px;
    text-align: center;
    font-size: 1.2rem;
  }
}

#view-post {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 8px;
  margin-top: 30px;
  .postWrapper {
    grid-column: 4/10;
  }
  .related-post {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    grid-column: 10/12;
  }
}
