section#posts {
  flex: 1 1 auto;
  padding: 0 16px 16px;
  display: flex;
  flex-direction: column;
  overflow: auto;

  div.post-container {
    flex-grow: 1;
  }

  .not-found {
    margin-top: 10px;
    text-align: center;
    font-size: 1.2rem;
  }

  .actions-row {
    display: flex;
    justify-content: center;
    margin-top: 12px;
  }
}

#view-post {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow-y: auto;
  @media (max-width: 700px) {
    flex-direction: column;
    justify-content: flex-start;
    .post-wrapper {
      margin-bottom: 30px;
    }
  }
  .post-wrapper {
    flex: 1 0 33.3%;
    position: relative;
    max-width: 600px;
    width: 400px;
    height: 500px;
  }
  .related-post-wrapper {
    flex: 0 0 33.3%;
    margin-left: 30px;
    .related-post {
      width: 200px;
      display: flex;
      flex-direction: column;
    }
  }
}
