@import "@codedrops/react-ui/dist/styles/colors.scss";

.quick-ball {
  position: relative;
  .quick-ball-container {
    position: absolute;
    top: 100%;
    right: 0;
    width: 360px;
    height: 238px;
    background: $bg;
    border-radius: 8px;
    border: 1px solid lightgrey;
    cursor: pointer;
    // .close-icon {
    //   position: absolute;
    //   top: -8px;
    //   right: -8px;
    //   z-index: 100;
    // }
    .container {
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%;
      .menu-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        .name {
          font-family: Cascadia-Bold;
          font-size: 1.2rem;
          padding: 8px;
          background: $strokeOne;
          margin: 0;
          &.pointer:hover {
            text-decoration: underline;
          }
        }

        .sub-menu-container {
          padding-left: 24px;
          background: $featherDark;
          border-bottom: 1px solid $strokeOne;
          position: relative;
          &:hover {
            background: $bg;
          }
          .index {
            position: absolute;
            left: 8px;
            top: 4px;
            font-size: 1.2rem;
          }
          .name {
            background: none;
            padding: 4px 0 0 0;
            &:hover {
              text-decoration: underline;
            }
          }
          .tagline {
            font-size: 1.1rem;
            padding-right: 4px;
            line-height: 1.3rem;
          }
        }
      }
    }
  }
  @media (max-width: 450px) {
    position: static;
    .quick-ball-container {
      width: 100%;
    }
  }
}
