@import "@codedrops/react-ui/dist/styles/colors.scss";

.quick-ball {
  position: absolute;
  bottom: 2%;
  left: 2%;
  z-index: 1000000;
  .quick-ball-icon {
    // opacity: 0;
    // animation: delay 1s 2s forwards;
    transition: all 0.4s;
    &:hover {
      transform: scale(1.2);
    }
  }
  .wrapper {
    width: 360px;
    height: 220px;
    background: $bg;
    position: relative;
    border-radius: 8px;
    border: 1px solid lightgrey;
    cursor: pointer;
    .close-icon {
      position: absolute;
      top: -8px;
      right: -8px;
      z-index: 100;
    }
    .container {
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%;
      .menu-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        .name {
          font-family: Cascadia-Bold;
          font-size: 1.2rem;
          padding: 8px;
          background: $strokeOne;
          margin: 0;
        }
        .bb {
          border-bottom: 5px solid $orchid;
        }
        .sub-menu-container {
          padding-left: 24px;
          background: $featherDark;
          border-bottom: 1px solid $strokeOne;
          position: relative;

          .index {
            position: absolute;
            left: 8px;
            top: 4px;
            font-size: 1.2rem;
          }
          .name {
            background: none;
            padding: 4px 0 0 0;
          }
          .tagline {
            font-size: 1.1rem;
            padding-right: 4px;
            line-height: 1.3rem;
          }
        }
      }
    }
  }
}
