@import "@codedrops/react-ui/dist/styles/defaults.scss";

@font-face {
  font-family: Cascadia-Regular;
  src: url("./assets/fonts/CascadiaMono-Regular.woff2");
}

@font-face {
  font-family: Cascadia-Light;
  src: url("./assets/fonts/CascadiaMonoPL-Light.woff2");
}

@font-face {
  font-family: Cascadia-Bold;
  src: url("./assets/fonts/CascadiaMonoPL-Bold.woff2");
}

#buy-me-a-coffee {
  position: absolute;
  bottom: 12px;
  right: 10px;
  z-index: 100;
  animation: delay 1s 7s forwards;
  opacity: 0;
  img {
    height: 30px;
  }
}

*,
strong {
  font-family: Cascadia-Regular;
}

input.ant-input {
  font-size: 10px; // Search input text
}

.ant-message {
  font-size: 10px !important;
}

html,
html body {
  font-size: 10px;
  font-family: Cascadia-Regular;
  // background: $bg;
  background: url("./assets/background/grey.png");
  max-height: 100vh;
  height: 100vh;
  h1,
  h2,
  h3 {
    font-family: Cascadia-Bold;
  }
  // .ant-icon {
  //   cursor: pointer;
  //   padding: 8px;
  //   font-size: 14px;
  //   border-radius: 0;
  //   transition: 0.4s;
  //   margin: 0;
  //   &:not(.no-hover):hover {
  //     border-radius: 50%;
  //     background: $strokeTwo;
  //   }
  //   @media (max-width: 500px) {
  //     padding: 6px;
  //   }
  // }

  a,
  a:hover {
    color: $bar;
  }
}

@keyframes delay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
