@font-face {
  font-family: Font1;
  src: url("./assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: Font2;
  src: url("./assets/fonts/Concert_One/ConcertOne-Regular.ttf");
}

@font-face {
  font-family: Font3;
  src: url("./assets/fonts/Raleway/Raleway-Regular.ttf");
}

@font-face {
  font-family: Font4;
  src: url("./assets/fonts/Comic_Neue/ComicNeue-Regular.ttf");
}

html,
body {
  height: 100vh;
  width: 100vw;
  font-size: 10px;
  margin: 0;
  padding: 0;
  font-family: Font4;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  #root,
  .app {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
  }
}

/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  // background: $black2;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  // background: $bar;
}
